
<nocont>
<div id="top-area">

    <% if current_user %>
<!--     <div id="nav">
      <div class="nav-right">
        <%= link_to tf('logout'), user_logout_path, method: :delete %>
      </div>
    </div> -->
    <div id='site-title'>Avalon</div>
    <div id="title-user">-<%= current_user.nickname %>'s Blog-</div>
    <% else %>
      <div id="title-user">-<%= link_to tf('login'), user_login_path %>-</div>
    <% end %>

  </div>
</div>
</nocont>

<% if current_user %>
<%# link_to tp('new', 'article'), new_article_path %>
<div id="resource-show">
  <%= render 'articles/index' %>
</div>
<% else %>



<% end %>