// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$C : articles;
$D : articles-;
##{$D}article-area{
  width: 850px;
  margin: 24px auto 0;
}
##{$D}article-title{
  font-family: monospace;
  $font-size: 32px;
  $width: 16em;
  font-size: $font-size;
  width: $width;
  padding-bottom: 4px;
  border-bottom: dashed 1px #999;

  input{
    margin: 0;
    padding: 0;
    font-family: monospace;
    border: none;
    font-size: $font-size;
    width: $width;
    transition: box-shadow 0.45s ease-in-out;
    border: none;
    &:focus{
      box-shadow: 0 0 2px #888;
    }
  }
}
##{$D}article-time{
  color: gray;
}
##{$D}article-content{
  font-family: monospace;
  $font-size: 20px;
  $width: 42em;
  margin-top: 24px;
  font-size: $font-size;
  textarea{
    margin: 0;
    padding: 0;
    font-family: monospace;
    transition: box-shadow 0.45s ease-in-out;
    box-shadow: 0 0 3px #AAA;
    border: none;
    &:focus{
      box-shadow: 0 0 6px #888;
    }
    font-size: $font-size;
    width: $width;
    height: 32em;
  }
}
##{$D}article-function{
  font-size: 16px;
  margin-left: 24px;
  display: inline-block;
}
##{$D}article-edit{
  color: gray;
  &:hover{
    color: black;
    cursor: pointer;
  }
}

.#{$C}.new_article, .#{$C}.edit_article{
  ##{$D}article-time{
    visibility: hidden; 
  }
  .submit{
    a{
      text-decoration: none;
    }
    float: right;
    margin-top: 10px;
    margin-right: 5px;
  }
}

##{$D}delete-article{
  margin-top: 1em;
  line-height: 2em;
  vertical-align: middle;
  color: darken(red,25%);
  text-align: center;
  margin: 0 auto;
  a{
    &:visited{
      color: darken(red,25%);
    }
  }
  i{
    &:hover{
      transform: scale(1.5);
    }
  }
}